# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# next.js
/.next/
/out/
/build
/dist

# production
/build

# misc
.DS_Store
*.pem
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# debug & log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env*.local
.env
!.env.example

# vercel & deployment
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor & IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# AI & temp cache
.gemini/
.temp/
scratch/
